<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicalstructureapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.AlbumActivity"
            android:label="@string/albumLabel">

        </activity>

        <activity android:name=".Activities.FavouritesActivity"
            android:label="@string/favouritesLabel">

        </activity>

        <activity android:name=".Activities.ArtistActivity"
            android:label="@string/artistLabel">

        </activity>

        <activity android:name=".Activities.PlayListActivity"
            android:label="@string/playListLabel">

        </activity>

        <activity android:name=".Activities.NowPlayingActivity"
            android:label="@string/nowPlayingLabel">

        </activity>
    </application>

</manifest>